<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392869690067-g2so1kds8tm0dmo7krmlnbrj55i7qenk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392869690067-g2so1kds8tm0dmo7krmlnbrj55i7qenk</string>
	<key>API_KEY</key>
	<string>AIzaSyByUpzZBg4PGOnHZmYoXD60U9fIRHhJEjc</string>
	<key>GCM_SENDER_ID</key>
	<string>392869690067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sempreceub.plantoiot.plantoIotFlutter</string>
	<key>PROJECT_ID</key>
	<string>planto-iot</string>
	<key>STORAGE_BUCKET</key>
	<string>planto-iot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392869690067:ios:5d46a6075533782203b226</string>
</dict>
</plist>